
@{
    ViewBag.Title = "VX1";
}

<h2>VX1</h2>

@*<h3>
        @DateTime.Now This is the current Date and time.
    </h3>*@

@*<h3>
        @DateTime.NowThis is the current Date and time.
    </h3>*@

<h3>
    @(DateTime.Now)This is the current Date and time.
</h3>

@*2017-10-18 9.25.03PMThis*@

@@narendramodi