
@{ 
    Layout = "~/Views/Shared/LayoutNew.cshtml";
    //Layout = null;
}

<h2>VX2</h2>

@*@section ABC{
    <h2>Child Page Section from VX 2</h2>
    }*@



@{
    Html.RenderPartial("ChildPage");
}

